var Secrets = {};

Secrets.messyring = {};
Secrets.messyring.email = 'ringemail@email.com';
Secrets.messyring.password = 'ringpassword';

Secrets.messyslack = {};
Secrets.messyslack.webhookUri = "https://hooks.slack.com/services/WEBHOOKURI";

module.exports = Secrets;
